.Header-encontrados{
    margin: 0 auto;
    width: 33%;
}
.Encontrados-h1{
    font-size: 2.5rem;
    text-align: center;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
}
.Encontrados-p{
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}
.Encontrados-container {
    width: 100%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto; 
    justify-content: center;
    align-items: center;
    gap: 1rem; 
    padding: 1rem;
}