.article-form{
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 0;
    gap: 4rem;
}

.article-form--mascota{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 2rem auto;
    gap: 4rem;
}

.form-p{
    width: 70%;
    color: rgb(128, 128, 0);
    font-size: 2rem;
    text-align: center;
}

.form-registro {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    width: 400px;
    text-align: center;
}

.form-acceso{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    width: 400px;
    text-align: center;
}

.form-mascota{
    width: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    text-align: center;
}

.registro-mascota{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
}

.form-p--registro{
    align-content: center;
    text-align: center;
    color: rgb(128, 128, 0);
    font-size: 1.2rem;
    font-weight: 400;
}

.form-p--acceso{
    text-align: center;
}

h2{
    margin-bottom: 1.25rem;
    color: #333;
}

input{
    width: 100%;
    padding: .625rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input:focus{
    border: 1px solid rgb(128, 128, 0);
    outline: none;
}

label{
    display: block;
    margin: 10px 0;
}

button{
    background-color: rgb(128, 128, 0);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
}

button:disabled{
    background-color: #ccc;
}

button:hover{
    background-color: bisque;
    color: black;
}

.submit-p{
    font-size: 0.8rem;
    color: rgb(164, 164, 164);
}

/* RESPONSIVE */

@media (max-width: 900px) {
    .article-form{
        width: 100%;
        height: auto;
    }
    .form-mascota{
        width: 90%;
    }
    .form-registro{
        width: 90%;
    }
    .form-acceso{
        width: 90%;
    }
    .form-p{
        width: 70%;
        font-size: 1.5rem;
    }
    .form-p--acceso{
        margin-bottom: 1.5rem;
    }
    .form-registro{
        margin-bottom: 1.5rem;
    }
    .registro-mascota{
        gap: 1rem;
    }
}

@media (max-width: 600px) {
    .form-p{
        width: 80%;
        font-size: 1.2rem;
    }
    .registro-mascota{
        flex-flow: column nowrap;
        align-items: center;
        gap: 1rem;
    }
}


