
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  }
  
  li {
  list-style: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  }
  
  a {
  color: inherit;
  text-decoration: none;
  display: block;
  }
  
  p a {
  display: inline;
  }
  
  img, picture, video, iframe {
  display: block;
  width: 100%;
  /* height: initial; */
  }
  
  form, input, label, select, option, textarea, button {
  font-size: inherit;
  font-family: inherit;
  display: block;
  /* background-color: transparent; */
  }
  
  :root {
    font-size: 100%;
    max-width: 1450px;
    margin: 0 auto;
  }
  
  /* Ancho para pantallas muy grandes */
  @media (min-width: 1600px) {
    :root {
      max-width: 1600px;
    }
  }
  
  /* Ancho para pantallas medianas */
  @media (max-width: 1200px) {
    :root {
      max-width: 1100px;
    }
  }
  
  html {
  scroll-behavior: smooth;
  }
  
  body {
  font-family: 'Montserrat', sans-serif;
  /* max-width: 1280px; */
  }
  /* Fin reset */




