/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* HEADER */

.Secction-header{
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 10px rgba(200, 200, 200, 0.5);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}
.Secction-img{
  width: 15rem;
}
.Header-ul{
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
}
.Header-li{
  color: rgb(128, 128, 0);
}

.Header-li:hover{
  transform: scale(1.05);
}

.Usuario{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.Img-usuario{
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
}


/* FOOTER */

.Secction-footer{
  width: 100%;
  background-color: white;
  box-shadow: 4px 0 10px rgba(200, 200, 200, 0.5);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: rgb(128, 128, 0);
}
.Footer-li{
  font-size: 0.9em;
  line-height: 1.4rem;
  cursor: pointer;
}
.Footer-li:hover{
  text-decoration: underline;
}

.Footer-ul{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

.Footer-img{
  width: 1.6rem;
  cursor: pointer;
  gap: 2rem;
}
.Footer-img:hover{
  transform: scale(1.1);
  opacity: 70%;
}




